<h1>Blogposts#edit</h1>
<p>※「<%= @blogpost.title %>」の編集</p>
<% if @blogpost.errors.any? %>
<ul>
	<% @blogpost.errors.full_messages.each do |err| %>
		<li><%= err %></li>
	<% end %>
</ul>
<% end %>
<table>
	<%= form_for(@blogpost, url:{controller:'blogposts', action:'edit'}) do |form| %>
	<tr><th>name</th>
		<td><%= form.text_field :title %></td></tr>
	<tr><th>memo</th>
		<td><%= form.text_field :read %></td></tr>
	<tr><th>songtitle</th>
		<td><%= form.text_field :songtitle %></td></tr>
	<tr><th>songurl</th>
		<td><%= form.text_field :songurl %></td></tr>
	<tr><th>message</th>
		<td><%= form.text_area :content, {cols:40, rows:10} %></td></tr>
	<tr><th>Genre ID</th>
		<td><%= form.text_field :bloggenre_id %></td></tr>
	<tr><th></th>
		<td><%= form.submit "送信" %></td></tr>
	<% end %>
</table>
<hr>
<p>※ジャンルの一覧</p>
<table>
	<tr>
		<th>Id</th><th >Genre</th>
	</tr>
	<% @genres.each do |obj| %>
	<tr>
		<td><%= obj.id %></td>
		<td><%= obj.name %></td>
	</tr>
	<% end %>
</table>
