<h1>Blogposts#index</h1>
<p>※投稿記事の一覧</p>
<table>
	<tr>
		<th>Id</th><th >title</th><th>read</th>
			<th>genre</th><th colspan="2"></th>
	</tr>
	<% @data.each do |obj| %>
	<tr>
		<td><%= obj.id %></td>
		<td><%= obj.title %></td>
		<td><%= obj.read %></td>
 		
		<td><a href="/blogposts/<%= obj.id %>">Edit</a></td>
		<td><a href="/blogposts/delete/<%= obj.id %>">Delete</a></td>
	</tr>
	<% end %>
</table>
<p><a href="/blogposts/add">新規作成＞＞</a></p>
