<% @data.each do |obj| %>
	<h3 class="top_title"><a href="/blogs/show/<%= obj.id %>">
		<%= '‣' + obj.title %></a>
	</h3>
	
	<p class="top_read"><%= obj.read %><span class="top_created">
		(<%= obj.updated_at.strftime("%Y-%m-%d %H:%M") %>)</span></p>
	<hr>
<% end %>
<div class="navigate">
	<% if @page_num > 0 then %>
		<a href="/blogs/<%= @page_num - 1 %>">←Back</a>
	<% end %>
	<span>　</span>
	<a href="/blogs/<%= @page_num + 1 %>">Next→</a>
</div>