<h3 class="show_title"><%= '‣' + @blogpost.title %></h3> 
<p class="show_read"><%= @blogpost.read + '【' + 
		@blogpost.bloggenre.name + '】' %>
		<a href= "<%= @blogpost.songurl %>" target="_blank">
		<i class="fas fa-headphones fa-4x fa-pull-right"></i></a>
		</p>

<div class="show_song">
	<a href="<%= @blogpost.songurl %>" target="_blank">Today's music:【<%= @blogpost.songtitle %>】</a>
</div> 
<div class="show_content">
	<%= markdown(@blogpost.content).html_safe %>


</div>
<p class="show_created">(<%= @blogpost.updated_at.strftime("%Y-%m-%d %H:%M") %>)</p>
<div class="navigate">
		<a href="/blogs">←Back</a>
</div>
