@charset "UTF-8";
/* line 1, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 5, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
.wrap {
  overflow: hidden;
}

/* line 8, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
img.logo_button {
  margin-top: 40px;
  width: 25%;
  height: 25%;
}

/* logoをホバーした */
/* twitter画像をクリックした瞬間 */
/* line 17, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
img.logo_button:active {
  /* 要素を若干下に下げることで、押した感じを出す。*/
  /* 今いる位置から相対的に3px下に配置する。*/
  position: relative;
  top: 3px;
}

/* line 23, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
i.fab {
  padding: 10px;
  color: yellow;
}

/*i.fab:hover {
  transform: rotateZ(360deg);
} */
/* line 30, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
i.fab:hover {
  cursor: pointer;
  transform: scale(1.3, 1.3);
}

/* line 34, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
i.fas:hover {
  cursor: pointer;
  transform: scale(1.3, 1.3);
}

/* line 38, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
.show_song {
  text-align: right;
}

/* line 41, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 14pt;
  background-color: yellow;
}

/* line 51, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
#header {
  margin: 0px 0px;
  padding: 0px 20px;
  background-color: black;
}

/* line 56, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
#header.logo_button {
  text-align: center;
}

/* line 59, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
#main {
  width: 75%;
  float: left;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 20px;
  height: 100%;
}

/* line 66, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
#side {
  width: 20%;
  float: right;
  text-align: center;
  border: solid 5px black;
  background-color: black;
}

/* line 74, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
.btn-flat-border {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 80%;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: yellow;
  border: solid 2px yellow;
  border-radius: 3px;
  transition: .4s;
}

/* line 88, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
.btn-flat-border:hover {
  background: yellow;
  color: black;
}

/* h1 {
	color: black; font-size: 28pt;
	margin: 30px 0px 70px 0px;
} */
/* line 105, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
.subtiltle {
  color: yellow;
  font-size: 10pt;
  margin: 50px 50px 0px 0px;
  padding-bottom: 40px;
}

/* line 111, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
h3.category {
  margin: 10px 10px;
}

/* line 114, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
hr {
  background-color: black;
  border-top: 2px dashed orange;
  margin: 50px 0px 0px 0px;
}

/* line 122, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
a {
  color: black;
  text-decoration: none;
}

/* line 126, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
.logo_button:hover {
  color: yellow;
  text-decoration: underline;
}

/* line 130, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
.top_title a:hover {
  color: blue;
  text-decoration: underline;
}

/* line 136, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
.top_title {
  color: black;
  font-size: 18pt;
  margin: 25px 0px;
}

/* line 143, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
.top_read {
  color: black;
  font-size: 12pt;
  margin: 0px 0px 25px 50px;
}

/* line 147, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
.top_created {
  font-size: 9pt;
  font-family: "Comic Sans MS";
}

/* line 151, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
.created {
  font-family: "Comic Sans MS";
}

/* line 154, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
.show_title {
  color: black;
  font-size: 18pt;
  margin: 25px 0px;
}

/* line 158, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
.show_read {
  color: black;
  font-size: 12pt;
  margin: 20px 20px;
}

/* line 162, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
.show_content {
  color: black;
  background-color: #fffac8;
  font-size: 12pt;
  margin: 20px;
  padding: 20px;
  border-style: dashed;
}

/* line 170, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
.show_created {
  text-align: right;
  font-size: 10pt;
  font-family: "Comic Sans MS";
  padding: 20px;
}

/* line 175, C:/Users/C0117253/Desktop/bapp/app/assets/stylesheets/gray.scss */
.navigate {
  text-align: center;
  font-size: 10pt;
  margin: 50px;
  font-family: "Comic Sans MS";
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

