@charset "UTF-8";
@media screen and (min-width: 480px) {
  /* line 2, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
  img.logo_button {
    margin-top: 0px;
    margin: 0px;
    width: 70%;
  }

  /* line 7, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
  .top_read {
    margin: 0px 0px 25px 0px;
  }

  /* line 10, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
  .fa-3x {
    font-size: 45px;
  }

  /* line 13, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
  i.fab {
    padding: 12px;
  }

  /* line 16, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
  .top_read {
    color: black;
    font-size: 12pt;
    margin: 0px 0px 25px 0px;
  }

  /* line 20, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
  .subtiltle {
    margin: 50px 0px 0px 0px;
    padding-bottom: 0px;
  }

  /* line 24, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
  #side {
    width: 100%;
    float: center;
  }

  /* line 27, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
  #main {
    width: 100%;
    float: center;
    margin-left: 0px;
  }

  /* line 31, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
  .show_song {
    padding: 0px 20px;
  }

  /* line 34, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
  #body.navigate {
    font-size: 30px;
    padding: 50px 50px;
  }
}
@media screen and (min-width: 980px) {
  /* line 41, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
  img.logo_button {
    margin-top: 40px;
    width: 25%;
  }

  /* line 45, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
  .fa-3x {
    font-size: 3em;
  }

  /* line 48, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
  i.fab {
    padding: 10px;
  }

  /* line 51, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
  .subtiltle {
    margin: 50px 50px 0px 0px;
    padding-bottom: 40px;
  }

  /* line 55, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
  #side {
    width: 20%;
    float: right;
  }

  /* line 58, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
  #main {
    width: 75%;
    float: left;
    margin-left: 20px;
  }

  /* line 62, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
  .show_song {
    padding: 0px 0px;
    text-align: right;
  }

  /* line 66, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
  .navigate {
    font-size: 10pt;
  }
}
/* line 70, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 74, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
.wrap {
  overflow: hidden;
}

/* line 77, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
img.logo_button:active {
  position: relative;
  top: 3px;
}

/* line 81, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
i.fab {
  color: yellow;
}

/* line 84, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
i.fab:hover {
  cursor: pointer;
  transform: scale(1.3, 1.3);
}

/* line 88, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 14pt;
  background-color: yellow;
}

/* line 96, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
#header {
  margin: 0px 0px;
  padding: 0px 20px;
  background-color: black;
}

/* line 101, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
#header.logo_button {
  text-align: center;
}

/* line 104, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
#main {
  margin-bottom: 0px;
  margin-right: 0px;
  height: 100%;
}

/* line 109, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
#side {
  text-align: center;
  border: solid 5px black;
  background-color: black;
}

/* line 114, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
.btn-flat-border {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 80%;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: yellow;
  border: solid 2px yellow;
  border-radius: 3px;
  transition: .4s;
}

/* line 128, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
.btn-flat-border:hover {
  background: yellow;
  color: black;
}

/* line 132, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
.subtiltle {
  color: yellow;
  font-size: 10pt;
}

/* line 136, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
h3.category {
  margin: 10px 10px;
}

/* line 139, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
hr {
  background-color: black;
  border-top: 2px dashed orange;
  margin: 50px 0px 0px 0px;
}

/* line 144, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
a {
  color: black;
  text-decoration: none;
}

/* line 148, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
.logo_button:hover {
  color: yellow;
  text-decoration: underline;
}

/* line 152, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
.top_title a:hover {
  color: blue;
  text-decoration: underline;
}

/* line 157, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
.top_title {
  color: black;
  font-size: 18pt;
  margin: 25px 0px;
}

/* line 161, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
.top_read {
  color: black;
  font-size: 12pt;
  margin: 0px 0px 25px 50px;
}

/* line 165, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
.top_created {
  font-size: 9pt;
  font-family: "Comic Sans MS";
}

/* line 169, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
.created {
  font-family: "Comic Sans MS";
}

/* line 172, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
.show_title {
  color: black;
  font-size: 18pt;
  margin: 25px 0px;
}

/* line 176, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
.show_read {
  color: black;
  font-size: 12pt;
  margin: 20px 20px;
}

/* line 180, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
.show_content {
  color: black;
  background-color: #fffac8;
  font-size: 12pt;
  margin: 20px;
  padding: 20px;
  border-style: dashed;
}

/* line 188, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
.show_created {
  text-align: right;
  font-size: 10pt;
  font-family: "Comic Sans MS";
  padding: 20px;
}

/* line 193, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
.show_song {
  margin: 0px 20px;
}

/* line 196, C:/Users/C0117253/Desktop/bitbucket/blog4_app/新しいフォルダー/blog4.2_app/app/assets/stylesheets/gray.scss */
.navigate {
  text-align: center;
  margin: 50px 50px;
  font-family: "Comic Sans MS";
  font-size: 25px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

