@media screen and (min-width: 480px) {
	.wrap{
		overflow-x: scroll;
	}
	img.logo_button{
		margin-top: 0px;
		margin: 0px;
		width: 200px;
	}
	.top_read {
	margin: 0px 0px 25px 0px;	
	}
	.fa-3x {
		font-size: 45px;
	}
	i.fab {
    padding: 12px;
	}
	.top_read {
	color: black; font-size: 12pt;
	margin: 0px 0px 25px 0px;	
	}
	
	.subtiltle {
	margin: 50px 0px 0px 0px;
	padding-bottom: 0px;
}
#main {
	float: center;
	margin-left: 0px;
	}

	#side {
	width: 100%; float: center;
	}
	
	.show_song{
	padding: 0px 20px;
	font-size: 0%;
	}
	.fa-5x {
		font-size: 40px;
	}
	#body.navigate {
	font-size: 30px;
	padding: 50px 50px;
	}
}

@media screen and (min-width: 980px) {
	img.logo_button{
		margin-top: 40px;
		width: 25%;
	}
	.fa-3x {
		font-size: 3em;
		//float: right;
	}
	i.fab {
	padding: 10px;
	}
	.subtiltle {
	margin: 50px 50px 0px 0px;
	padding-bottom: 40px;
	}
	#side {
	width: 20%; float: right;
	}
	#main {
	width: 75%; float: left;
	margin-left: 20px;
	}
	.show_song{
	padding: 0px 0px;
	text-align: right;
	}
	.navigate {
	font-size: 10pt;
 }
}


* {
  	margin: 0px;
  	padding: 0px;
	}
img.logo_button:active{
	position: relative;
	top: 3px;
}
i.fab {
  color:yellow;
	}
i.fab:hover{
  cursor: pointer;
	transform: scale(1.3, 1.3);
}
body {
	//width:100%;
	height: 100%;
	margin: 0;
  padding: 0;
	color: black; font-size: 14pt; 
	background-color: yellow;
	overflow-x:auto;
}
#header{
	margin: 0px 0px;
	padding: 0px 20px;
	background-color: black;
}
#header.logo_button{
	text-align: center;
}
#main {
	margin-bottom: 0px;
	margin-right: 0px;
	height: 100%;
}
#side {
	text-align: center;
	border: solid 5px black;
	background-color: black;
} 
.btn-flat-border {
	margin-top: 5%;
	margin-bottom: 5%;

	width: 80%;
	display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: yellow;
  border: solid 2px yellow;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: yellow;
  color: black;
}
.subtiltle {
	color: yellow;
	font-size: 10pt;
}
h3.category{
	margin: 10px 10px;
}
hr {
	background-color: black;
  border-top: 2px dashed orange;
	margin: 50px 0px 0px 0px;
}
a {
  color:black;
	text-decoration: none;
} 
.logo_button:hover {
 color:yellow;
 text-decoration:underline
}
.top_title a:hover {
 color: blue;
 text-decoration:underline
}

.top_title {
	color: black; font-size: 18pt;
	margin: 25px 0px;	
}
.top_read {
	color: black; font-size: 12pt;
	margin: 0px 0px 25px 50px;	
}
.top_created {
	font-size: 9pt;
	font-family: "Comic Sans MS";
}
.created {
	font-family: "Comic Sans MS";
}
.show_title {
	color: black; font-size: 18pt;
	margin: 25px 0px;	
}
.show_read {
	color: black; font-size: 12pt;
	margin: 20px 20px;	
}
.show_content {
	color:black;
	background-color: rgb(255, 250, 200);
 	font-size:12pt; 
	margin:20px;
	padding: 20px;
	border-style: dashed;
	overflow-x: auto;
}
pre {
	overflow-x:auto;
		background-color: rgb(241, 237, 187);
}
img {
	width: 300px;
	height: auto;
}



.show_created {
	text-align: right; font-size: 10pt;
	font-family: "Comic Sans MS";
	padding: 20px;
}
.show_song{
	margin: 0px 20px;
	font-size: medium;
}
.fa-5x {
		font-size: 70px;
}
.navigate {
	text-align:center;
	margin: 50px 50px;
	font-family: "Comic Sans MS";
	font-size: 25px;
}

