<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-153574037-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-153574037-1');
	</script>

	<title>Takukin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="icon" href="/o.png" type="image/png" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
		integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<%= csrf_meta_tags %>


	<%stylesheet_link_tag 'blogs', 
			'data-turbolinks-track': 'reload' %>
	<%= stylesheet_link_tag @blogconfig.stylename, 
			'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'blogs', 
			'data-turbolinks-track': 'reload' %>


</head>


<body>
	<div class="wrap">
		<header id="header">

			<div align="center">
				<h1><a href="/blogs"><img src="/logo2.png" class="logo_button" ontouchstart="" alt="TAG index" border="2"></a>
				</h1>
			</div>
			<a href="https://bitbucket.org/dashboard/repositories" target="_blank"><i
					class="fab fa-bitbucket fa-3x fa-pull-right"></i></a>
			<a href="https://www.instagram.com/maple_taku/?hl=ja" target="_blank"><i
					class="fab fa-instagram fa-3x fa-pull-right"></i></a>
			<a href="https://twitter.com/taku64150873" target="_blank"><i class="fab fa-twitter fa-3x fa-pull-right"></i></a>
			<a href="mailto:hayatsutkm&#64;gmail.com"><i class="fab fas fa-envelope fa-3x fa-pull-right"></i></a>
			<div class="subtiltle">
				<h2><%= @blogconfig.subtitle %></h2>
			</div>
		</header>
		<%
=begin%>
		<hr>
		<%
=end%>
		<main id="main">
			<%= yield %>
		</main>
		<div id="side">
			<% Bloggenre.all.each do |genre| %>
			<p><a href="/blogs/genre/<%= genre.id %>" class="btn-flat-border">
					<%= genre.name %></a></p>
			<% end %>
		</div>
		<%
=begin%>
		<main id="main">
			<%= yield %>
		</main>
		<%
=end%>
	</div>
</body>
</html>