<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-153574037-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-153574037-1');
	</script>

	<title>Takukin</title>
	<link rel="icon" href="/o.png" type="image/png" />

	<%= csrf_meta_tags %>


	<%= stylesheet_link_tag 'blogposts', 
			'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'blogposts', 
			'data-turbolinks-track': 'reload' %>
</head>


<body>
	<%= yield %>
</body>
</html>